.back-btn{
  margin-bottom: 40px;
  margin-left: 100px;
  text-decoration: none;
  color: #091A2E;
  background: #dddcaf;
  padding: .6em 1em;
  border-radius: 10px;
  align-self: flex-start;
}

.petView-wrapper{
  display: flex;
  flex-direction:column;
}

.back-btn:hover{
  background: #968a6e;
}

.petView-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
  height: 80vh;
  width: 80vw;
  background: rgba(209, 151, 16,.9);
}

.petView{
  display: flex;
  justify-content:center;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 2.5em;
  background-color: var(--background-color);
  color: #fff;
  width: 700px;
  padding: 2em;
  border-radius: 8px;
  margin: 50px auto;
}

.petView h2{
  color: #D29812;
  padding-bottom: 15px;
}

.ownerPetView, .petView-info{
  display: flex;
  gap: 1em;
  flex-direction: column;
}


.citeContainer{
  align-items: center;
  flex-direction:row;
  gap: 1.5em;
  background-color: var(--background-color);
  color: #fff;
  width: 700px;
  padding: 2em;
  border-radius: 8px;
  margin: 10px auto;
}

.citeView{
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.btnEditar{
  display: block;
  margin-bottom: 40px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #D29812;
  padding: .6em 1em;
  margin: 15px auto;
  border-radius: 10px;
  width: 150px;
}

@media (max-width: 650px) {
  .petView, .citeContainer {
    width:300px
  }

  .citeContainer{
    margin: 0px auto;
  }
}