* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Home {
  background-color: var(--btn-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
}

.Home > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em 1em 1em;
  box-shadow: 0px 3px 1px 0px rgba(59, 59, 59, 0.06);
}

.user-info-container {
  display: flex;
}

.avatar-container > img {
  margin-right: 1em;
  border-radius: 50%;
}

.Home h1 {
  font-size: 1.6em;
  color: var(--background-color);
}

.btn-create {
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  padding: 1em;
  background: rgb(62, 122, 2);
  color: #fff;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-create:hover {
  background: rgba(62, 122, 2, 0.8);
}

.btn-out {
  background: rgb(255, 0, 0);
  border: none;
  width: 130px;
  padding: 0.7em;
  border-radius: 20px;
  color: #fff;
  font-size: 0.8em;
  cursor: pointer;
}

.btn-out:hover {
  background: rgba(255, 0, 0, 0.8);
}

.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.content aside {
  background: var(--background-color);
}

aside {
  height: calc(100vh - 4.7em);
}

.navbar-aside {
  display: flex;
  height: 100%;
  padding: 2em 1em;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-aside div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
}

.navbar-aside div:last-child {
  display: none;
}

.navbar-aside div a,
.navbar-aside a {
  text-decoration: none;
  text-align: start;
  width: 100%;
  color: rgb(226, 226, 189);
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgb(226, 226, 189);
}

.navbar-aside a {
  text-align: center;
}

aside nav a:hover {
  color: var(--btn-color);
}

.dashboard {
  background-color: rgb(226, 226, 189);
  width: 100%;
}

/*-----------table--------*/
table {
  table-layout: fixed;
  width: 80%;
  margin: 2em auto;
  border-collapse: collapse;
  border: 1px solid rgb(22, 21, 22);
}

thead th:nth-child(1) {
  width: 20%;
  font-size: 1em;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 25%;
}

thead th:nth-child(4) {
  width: 5%;
}

thead th:nth-child(5) {
  width: 10%;
}

th,
td {
  padding: 10px;
}

th {
  letter-spacing: 1px;
  font-size: 0.8em;
}

td {
  letter-spacing: 1px;
  font-size: 0.8em;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

thead,
tfoot {
  color: white;
}

thead th,
tfoot th,
tfoot td {
  background: var(--background-color);
  border: 1px solid rgb(22, 21, 22);
}

tbody tr:nth-child(odd) {
  background-color: #fffdfe;
}

tbody tr:nth-child(even) {
  background-color: rgb(226, 226, 189);
}

.navbar-aside h2,
.hamburger-container,
.hamburger-img,
.btn-responsive,
.btn-container-responsive,
.responsive-profile,
.item-aside-close-responsive {
  display: none;
}

.btn-pages-container {
  display: flex;
  justify-content: space-evenly;
}
.btn-previous {
  border: none;
  background-color: #c5612b;
  padding: 0.3em;
  cursor: pointer;
}

.btn-next {
  border: none;
  background-color: #091a2e;
  color: #fff;
  padding: 0.3em;
  cursor: pointer;
}

.btn-next:hover {
  background-color: rgba(9, 26, 46, 0.8);
}

.btn-previous:hover {
  background-color: rgba(197, 97, 43, 0.8);
}

.btn-delete {
  border: none;
  padding: 0.2em;
  cursor: pointer;
  margin-right: 0.4em;
  background: none;
}

.btn-update {
  border: none;
  background: none;
  padding: 0.2em;
  cursor: pointer;
  margin-right: 0.4em;
}

@media screen and (max-width: 450px) {
  .Home > header {
    display: none;
  }

  .aside {
    height: 100vh;
  }

  .navbar-aside h2 {
    display: block;
    margin-bottom: 2em;
    color: #fff;
  }

  .flex-div,
  .hamburger-container {
    margin-bottom: auto;
  }

  .hamburger-container {
    align-self: flex-end;
  }

  .profile {
    display: none;
  }

  .hamburger-container {
    width: 20px;
    height: 25px;
    cursor: pointer;
    position: relative;
    animation-name: desplazarse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  .hamburger-container img {
    width: 20px;
    height: 25px;
    display: block;
  }

  .open {
    transform: rotate(180deg);
  }

  .responsive-profile,
  .btn-container-responsive,
  .btn-responsive {
    display: block;
  }

  .close {
    width: 40px;
  }

  .close h2 {
    display: none;
  }

  .close .item-aside {
    display: none;
  }

  @keyframes desplazarse {
    from {
      right: 5px;
    }
    to {
      right: -10px;
    }
  }
  /*-----------table--------*/

  .admin-table {
    width: 100%;
    margin: 0 auto;
    border: none;
  }

  .admin-table tr {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 0.5em;
  }

  .admin-table td:first-child {
    font-weight: bold;
  }

  .admin-table td[data-titulo] {
    display: flex;
  }

  .admin-table td[data-titulo]::before {
    content: attr(data-titulo);
    width: 70px;
    color: #c0c0c0;
    font-weight: bold;
  }

  .admin-table thead {
    display: none;
  }

  .btn-pages-container {
    margin-top: 0.7em;
  }
}
