.back-btn{
  margin-bottom: 40px;
  margin-left: 100px;
  text-decoration: none;
  color: #091A2E;
  background: #dddcaf;
  padding: .6em 1em;
  border-radius: 10px;
  align-self: flex-start;
}

.back-btn:hover{
  background: #968a6e;
}

.editPetContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: rgba(209, 151, 16,.9);
}

.editPet{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  background-color: var(--background-color);
  color: #fff;
  width: 400px;
  padding: 2em;
  border-radius: 8px;
  margin-bottom: 50px;
}

.inputs-container-editPet{
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin-bottom: 2em;
}

.input-editPet{
  display: block;
  padding: .6em;
  background: var(--input-background);
  color: rgb(226, 226, 189);
  border-radius: 5px;
  outline: none;
  border: none;
}

.inputs-container-editPet textarea{
  resize: none;
  width: 100%;
  height: 100px;
}


.btn-editar{
  background-color: var(--btn-color);
  color: #fff;
  border: none;
  padding: .6em;
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
  cursor: pointer;
}

.btn-editar:hover{
  background: rgba(209, 151, 16,.9);
}
@media (max-width: 600px) {
  .editPet {
    width:270px
  }
}